@charset "utf-8";
.titel {
	background-color: #F9BC0B;
	color: #01EC56;
	text-shadow: 1px 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 17px;
	padding-right: 17px;
	padding-bottom: 17px;
	padding-left: 17px;
	text-align: center;
	text-indent: 34px;
	font-size: 38px;
}
.fake {
	font-size: 26px;
	color: #E9080B;
}
